@import '../../mixin.scss';
.swp_card_empty{
  width: rem(107);
  height: rem(185);
  &.red_bg{
    background:$redColor;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(195, 203, 212, 0.35);
    border: solid 1px #dee2e5;
    display: flex;
    align-items: center;
    justify-content: center;
    color:$mainBg;
    flex-direction: column;
    .plus{
      width:rem(30);
      height:rem(30);
      background:url(#{$path}/plus.png) center center no-repeat;
      background-size: contain;
    }
    .add_text{
      font-size:rem(10);
      margin-top:rem(8);
      text-align: center;
    }
  }
  }
  .swp_card{
    width: rem(107);
    height: rem(185);
    padding: rem(5);
    border-radius: rem(8);
    box-shadow: 0 rem(3) rem(6) 0 rgba(195, 203, 212, 0.35);
    border: solid rem(1) $border;
    background-color: $mainBg;
    box-sizing: border-box;
    position: relative;
    .recommend_tag{
      padding:rem(5) rem(10);
      height:rem(20);
      background:rgba(6,32, 52, 0.8);
      box-sizing: border-box;
      border-top-left-radius: rem(8);
      display: flex;
      align-items: center;
      justify-content: center;
      color:$mainBg;
      font-size:rem(7);
      position: absolute;
      left:0;
      top:0;
      white-space: nowrap;
    }
    .img_b{
      width: rem(93.5);
      height: rem(126);
      margin: 0 0 rem(6);
      object-fit: contain;
      border-radius: rem(10);
      box-shadow: 0 rem(1) rem(5) 0 rgba(70, 70, 70, 0.3);
      overflow: hidden;
      background:#fff;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: rem(93.5);
        height:auto;
      }
    }
    .tit{
      font-size:rem(8);
      color: $deepColor;
      margin-top:rem(9)
    }
    .author{
      font-size:rem(7);
      color: $redColor;
    }
    .cate{
      font-size:rem(7);
      color: $deepColor;
      opacity: 0.8;
    }
  }
