@import '../../mixin.scss';
.discover_wrap{
  position: relative;
  overflow: auto;
  height:100vh;
  width:100vw;
  box-sizing: border-box;
  padding-bottom:px2rem(55);
  // padding-top:px2rem(36);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
 
  .pick_{
    padding:0 rem(10);
    .tit__{
      font-size:rem(18);
      text-align: center;
      color:#062034;
    }
    .child_{
      margin-top:rem(13);
      // &:first-child{
      //   margin-top:0;
      // }
    }
  }
  .progress{
    position: fixed;
    z-index:10;
    top:3.3rem;
    left:0;
    height:rem(2);
    width:100%;
    box-sizing: border-box;
  }
  
  .banner{
    width:100vw;
    height:px2rem(131);
    background:#ccc;
    overflow: hidden;
    img{
      width:100vw;
      height:px2rem(131);
    }
  }
  .c_box{
    width:100vw;
    box-sizing: border-box;
    padding:0 rem(10);
    .child_{
      margin-top:rem(13);
      &:first-child{
        margin-top:0;
      }
    }
  }
  .more_w{
    width:100vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    .more{
      @extend .deep_btn;
      margin: rem(10) auto;
    }
  }
  .bar_header{
    height: rem(59.3);
    // background:url(#{$path}/dis_header_bg_.png) center center no-repeat;
    // background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color:$mainBg;
    font-size:rem(18)
  }

  .red_header{
    @extend .bar_header;
     background:url(#{$path}/dis_sub_bg.png) center center no-repeat;
    background-size: cover;
  }
  .black_header{
    @extend .bar_header;
     background:url(#{$path}/dis_header_bg.png) center center no-repeat;
    background-size: cover;
  }

  .question_box{
    padding:rem(10);
    .phone{
      font-size:rem(16);
      margin-top:rem(20);
      line-height:1.5;
      input{  
        background:none;  
        outline:none;  
        border:none;
        display: inline-block;
        margin-left:rem(5);
        border-bottom:1px solid $border;
        width:rem(150);
        color: #062034;
        height:rem(24);
        padding-left:rem(10);
        border-radius: 0;
      }
      input:focus{   
        border:none;
        border-bottom:1px solid $border;
      }
      input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #636363;
      }
    }
  }

  .q_list{
    margin-top:rem(15)
  }

  .slider{
    width:100vw;
    position: relative;
    margin-bottom:-0.6rem;
    img{
      width:100vw;
      z-index:0;
    }
    .p_d{
      font-size:rem(16);
      font-weight: bold;
      color:#fff;
      z-index:9;
      position: absolute;
      left:0;
      top:3rem;
      display: block;
      &.l{
        text-indent: rem(20);
      }
      &.ll{
        top:5rem;
        text-indent: rem(40);
      }
    }
  }

  .btn_wrap{
    // position: fixed;
    width:100%;
    box-sizing: border-box;
    padding:rem(8);
    // left:0;
    // bottom:0;
    .btn_{
      width:100%;
      height:rem(35);
      border-radius: rem(20);
      background:#cd0e2d;
      display: flex;
      align-items: center;
      justify-content: center;
      color:#fff;
      font-size:rem(14);
      &.disb_{
        background:#bbbbbb;
      }
    }
  }  
}

.popup-list{
  height:100vh;
  width:100vw;
  position: relative;
 
  &.f{
    display: flex;
    flex-direction: column;
  }

  &.ff{
    height:50vh;
    width:100%;
    display: flex;
    flex-direction: column;
  }


  &.top{
    padding-top: 1rem;
    overflow-y: auto;
    p{
      margin-top:1rem;
      text-align: center;
    }
  }

  
  .success{
    width:rem(60);
    height:rem(10);
    // background:url(#{$path}/success.png) center center no-repeat;
    background-size: contain;
    margin:0 auto;
    margin-top: 1rem;
  }
  p{
    font-size: rem(16);
    text-align: left;
    color:#062034;

  }
  img{
    width:98%;
    height:auto;
    margin:rem(2) auto;
  }
  .placeholder{
    height:rem(50);
    width:100vw;
    flex-shrink: 0;
  }
  .iiframe{
    // height:calc(100vh - 3.5rem);
    flex-grow: 1;
    width:100vw;
    text-align: left;
    color:#062034;
    font-size:rem(13);
    box-sizing: border-box;
    padding:rem(10);
    padding-bottom:rem(50);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    &.fff{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow-y: hidden;
      overflow-x: hidden;
      ._logo{
        width:65%;
        height:rem(50);
        background:url(#{$path}/logo_jd.png) center center no-repeat;
        background-size: contain;
        margin-top:rem(20);
      }
      .advertising{
        width:100%;
        height:18rem;
        background:#fff;
        margin-top:rem(10);
        img{
          width:100%;
          height:auto;
        }
      }
    }
  
    &.iii{
      width:100%;
      padding:0;
      padding-bottom:0;
    }
    p{
      color:#062034;
      font-size:rem(13);
      text-align: left;
    }
  }

  .protocol{
    width:100vw;
    height:rem(40);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .r{
      width:rem(18);
      height:rem(18);
      flex-shrink: 0;
      background:url(#{$path}/radio.png) center center no-repeat;
      background-size: contain;
      margin-right:rem(3);
      &.ed{
        background:url(#{$path}/radioed.png) center center no-repeat;
        background-size: contain;
      }
    }
    .rp1{
      width:rem(200);
      white-space: nowrap;
      font-size:rem(13);
      text-align: left;
      .rpp1{
        color:#062034;
       
      }
      .rpp2{
        color:#53a2e0
      }
    }

  }
  
  .agree_btn{
    width:90vw;
    height:rem(40);
    flex-shrink: 0;
    border-radius: rem(40);
    margin: auto;
    // height:calc(3.5rem+ constant(safe-area-inset-bottom));
    // height:calc(3.5rem+ env(safe-area-inset-bottom));
    background:#cd0e2d;
    color:#fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding-bottom:0;
    // padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
    // padding-bottom: env(safe-area-inset-bottom); 
  }
}



.policy_modal{
  z-index:20000;
  transform: translateZ(2px);
  :global{
    .am-modal-content{overflow:visible}
    .am-modal-close{top: 10px;right:10px}
  }
}