@import '../../mixin.scss';
.me_wrap{
  position: relative;
  overflow: auto;
  height:100vh;
  width:100vw;
  .banner_img{
    width:100vw;
    height:rem(90);
    background:#ccc;
    transition: transform 0.3s;
    position: relative;
    margin-bottom:rem(55);
    .avatar{
      height:rem(54);
      width:rem(54);
      border-radius: rem(4);
      border:rem(5) solid #fff;
      position: absolute;
      z-index:1;
      bottom:rem(-30);
      left:50%;
      margin-left:rem(-27);
      background:#ccc;
      box-shadow: 0 0 rem(5) #bbb;
      img{
        height:rem(54);
        width:rem(54);
      }
    }
    .bg_img{
      width:100vw;
      height:auto;
      img{
        width:100vw;
        height:auto;
      }
    }
  }
  .me_box{
    padding:0 px2rem(12);
    .diamond_w{
      width:100%;
      height:rem(80);
      background:$lightColor;
      padding: rem(13) rem(12) rem(9);
      border-radius: rem(10);
      box-sizing: border-box;
      .title{
        font-size: rem(9);
        color:$deepColor;
        text-align: center;
      }
      .d_w{
        width:100%;
        height:rem(36);
        display: flex;
        align-items:center;
        justify-content: space-between;
        margin-top:rem(12);
        .d_coin{
          height:rem(22.5);
          width:rem(24.2);
          background:url(#{$path}/dollar.png) center center no-repeat;
          background-size: contain;
          flex-shrink: 0;
          margin-right:rem(7)
        }
        .con{
          flex-grow: 1;
          color:$deepColor;
          font-size: rem(12);
          font-weight: bold;
          span{
            margin-left:rem(5);
            font-size:rem(8);
            font-weight: normal;
          }
        }
        .btn{
          @extend .deep_btn;
          height: rem(27);
          line-height: rem(27);
          flex-shrink: 0;
        }
      }
    }
    .list{
      height: rem(40);
      padding: rem(10.5) rem(10.3) rem(10.6) rem(10.9);
      border-radius: rem(8);
      box-shadow: 0 rem(3) rem(6) 0 rgba(195, 203, 212, 0.35);
      border: solid rem(1) $border;
      background-color: $mainBg;
      margin-top:rem(10);
      width:100%;
      box-sizing: border-box;
      display: flex;
      &.first_child{
        margin-top:rem(23)
      }
      &:active{
        background-color:$active
      }
      ._icon{
        flex-shrink: 0;
        width:rem(20);
        height:rem(15);
        &.code{
         
          background:url(#{$path}/code.png) center center no-repeat;
          background-size: contain;
        }
        &.bill{
        
          background:url(#{$path}/bill.png) center center no-repeat;
          background-size: contain;
        }
        &.friends{
        
          background:url(#{$path}/friends.png) center center no-repeat;
          background-size: contain;
        }
        &.help{
        
          background:url(#{$path}/help.png) center center no-repeat;
          background-size: contain;
        }
        &.about{
          background:url(#{$path}/about.png) center center no-repeat;
          background-size: contain;
        }
        &.logout{
         
          background:url(#{$path}/logout.svg) center center no-repeat;
          background-size: contain;
        }
      }
      .title_{
        flex-grow: 1;
        margin-left:rem(9.5);
        height:rem(19.5);
        width:rem(1);
        border-left: solid rem(1) $border;
        padding-left:rem(9.5);
        font-size: rem(10);
        font-weight: 600;
        color:$deepColor;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .go_icon{
        flex-shrink: 0;
        width:rem(16.2);
        height:rem(16.2);
        background:url(#{$path}/right_arrow.png) center center no-repeat;
        background-size: contain;
      }
    }
  }
}