@import '../../mixin.scss';
.home_wrap{
  position: relative;
  overflow: auto;
  height:100vh;
  width:100vw;
  background:#fff;
  .banner{
    width:100vw;
    height:px2rem(131);
    background:#ccc;
    overflow: hidden;
    img{
      width:100vw;
      height:px2rem(131);
    }
  }
  .lib_box{
    width:100vw;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-flow:row wrap;
    padding:0 rem(20) rem(61);
    .prd_{
      margin-top:rem(20)
    }
    .empty{
      width: rem(107);
      height: rem(185);
    }
  }
}