@import '../../mixin.scss';
.discover_wrap{
  position: relative;
  overflow: auto;
  height:100vh;
  width:100vw;
  box-sizing: border-box;
  padding-bottom:px2rem(55);
  // padding-top:px2rem(36);

  .pick_{
    padding:0 rem(10);
    .tit__{
      font-size:rem(18);
      text-align: center;
      color:#062034;
    }
    .child_{
      margin-top:rem(13);
      // &:first-child{
      //   margin-top:0;
      // }
    }
  }
  .progress{
    position: fixed;
    z-index:10;
    top:rem(51);
    left:0;
    height:rem(2);
    width:100%;
    box-sizing: border-box;
  }
  
  .banner{
    width:100vw;
    height:px2rem(131);
    background:#ccc;
    overflow: hidden;
    img{
      width:100vw;
      height:px2rem(131);
    }
  }
  .c_box{
    width:100vw;
    box-sizing: border-box;
    padding:0 rem(10);
    .child_{
      margin-top:rem(13);
      &:first-child{
        margin-top:0;
      }
    }
  }
  .more_w{
    width:100vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    .more{
      @extend .deep_btn;
      margin: rem(10) auto;
    }
  }
  .bar_header{
    height: rem(59.3);
    // background:url(#{$path}/dis_header_bg_.png) center center no-repeat;
    // background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color:$mainBg;
    font-size:rem(18)
  }

  .red_header{
    @extend .bar_header;
     background:url(#{$path}/dis_sub_bg.png) center center no-repeat;
    background-size: cover;
  }
  .black_header{
    @extend .bar_header;
     background:url(#{$path}/dis_header_bg.png) center center no-repeat;
    background-size: cover;
  }

  .question_box{
    padding:rem(10);
    .phone{
      font-size:rem(10);
      margin-top:rem(20);
      line-height:1.5;
      input{  
        background:none;  
        outline:none;  
        border:none;
        display: inline-block;
        margin-left:rem(5);
        border-bottom:1px solid $border;
        width:rem(150);
        color: #062034;
        height:rem(24);
        padding-left:rem(10)
      }
      input:focus{   
        border:none;
        border-bottom:1px solid $border;
      }
      input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #636363;
      }
    }
  }

  .q_list{
    margin-top:rem(15)
  }

  .slider{
    width:100vw;
    position: relative;
    margin-bottom:-0.6rem;
    img{
      width:100vw;
      z-index:0;
    }
    .p_d{
      font-size:rem(16);
      font-weight: bold;
      color:#fff;
      z-index:9;
      position: absolute;
      left:0;
      top:3rem;
      display: block;
      &.l{
        text-indent: rem(20);
      }
      &.ll{
        top:5rem;
        text-indent: rem(40);
      }
    }
  }

  .btn_wrap{
    // position: fixed;
    width:100%;
    box-sizing: border-box;
    padding:rem(8);
    // left:0;
    // bottom:0;
    .btn_{
      width:100%;
      height:rem(35);
      border-radius: rem(20);
      background:#cd0e2d;
      display: flex;
      align-items: center;
      justify-content: center;
      color:#fff;
      font-size:rem(14);
      &.disb_{
        background:#bbbbbb;
      }
    }
  }  
}
.popup-list{
  height:100vh;
  width:100vw;
  position: relative;
  &.top{
    padding-top: 0.5rem;
  }
  .success{
    width:rem(60);
    height:rem(60);
    background:url(#{$path}/success.png) center center no-repeat;
    background-size: contain;
    margin:0 auto;
    margin-top: 3rem;
  }
  p{
    font-size: rem(12);
    text-align: center;
    margin-top:rem(10);
    margin-bottom:rem(10);
    color:#bbbbbb;
  }
  img{
    width:98%;
    height:auto;
    margin:rem(2) auto;
  }
  iframe{
    border:0;
    height:100vh;
    width:100vw;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-bottom:rem(45)
  }
  .agree_btn{
    width:100vw;
    height:rem(45);
    background:#cd0e2d;
    color:#fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    left:0;
    bottom:0;
    position: fixed;
  }
}